
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


.App {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
    height: auto;

    border-radius: 10px;


    padding: 20px;
}

.form {
    position: relative;
    top: 50px;
    left: 0;
    transform: none;
    width: 100%;
    margin: 0 auto;
}

.radio-group-gender,
.radio-group-subject {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.radio-group-gender input[type="radio"],
.radio-group-subject input[type="radio"] {
    margin-right: 5px;
}

.upload {
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.select,
.about,
.button {
    margin-bottom: 15px;
}

.select select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.about textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box;
}

.button {
    display: flex;
    justify-content: space-between;
}

.button button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.button .reset-button {
    background-color: #dc3545;
}

.button .submit-button {
    background-color: #28a745;
}

.button button:hover {
    opacity: 0.9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label,
.form-group p {
    display: block;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

.input-field,
.select-field,
.textarea-field,
.file-upload,
.input-info {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-field:focus,
.select-field:focus,
.textarea-field:focus,
.file-upload:focus,
.input-info:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}